<h2 class="text-center font-weight-bold">
  <%= user.username %>'s Game History
</h2>

<a href="/" class="btn btn-info btn-sm mb-2">Back</a>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Game Id</th>
      <th scope="col">Game Name</th>
      <th scope="col">Score</th>
      <th scope="col">Played At</th>
    </tr>
  </thead>
  <tbody>
    <% user.game_histories.forEach(item => { %>
    <tr>
      <td><%= item.game.id %></td>
      <td><%= item.game.name %></td>
      <td><%= item.score %></td>
      <td><%= item.played_at.toLocaleDateString("id-Id") %></td>
    </tr>
    <%}) %>
  </tbody>
</table>
