<h1 class="text-center">Create User</h1>

<div class="d-flex justify-content-center">
  <form action="/users" method="post" style="width: 60%">
    <% if (typeof error !== 'undefined') { %>
    <div
      class="alert alert-<%= error.type %> alert-dismissible fade show"
      role="alert"
    >
      <strong><%= error.message %></strong>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>
    <div class="form-group">
      <label for="username">Username :</label>
      <input
        type="text"
        name="username"
        id="username"
        class="form-control form-control-sm"
        required
        value="<%= typeof data !== 'undefined' ? data.username : '' %>"
      />
    </div>

    <div class="form-group">
      <label for="password">Password :</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control form-control-sm"
        required
      />
    </div>

    <div class="form-group">
      <label for="first_name">First Name :</label>
      <input
        type="text"
        name="first_name"
        id="first_name"
        class="form-control form-control-sm"
        value="<%= typeof data !== 'undefined' ? data.first_name : '' %>"
        required
      />
    </div>

    <div class="form-group">
      <label for="last_name">Last Name :</label>
      <input
        type="text"
        name="last_name"
        id="last_name"
        class="form-control form-control-sm"
        value="<%= typeof data !== 'undefined' ? data.last_name : '' %>"
        required
      />
    </div>

    <div class="form-group">
      <label for="hobby">Hobby :</label>
      <input
        type="text"
        name="hobby"
        id="hobby"
        class="form-control form-control-sm"
        value="<%= typeof data !== 'undefined' ? data.hobby : '' %>"
      />
    </div>

    <div class="form-group">
      <label for="address">Address :</label>
      <textarea
        name="address"
        id="address"
        class="form-control form-control-sm"
      >
<%= typeof data !== 'undefined' ? data.address : '' %></textarea
      >
    </div>

    <button type="submit" class="btn btn-success btn-sm px-3">Save</button>
    <a href="/" class="btn btn-warning btn-sm">Back</a>
  </form>
</div>
