<h1 class="text-center font-weight-bold">
  <form action="/logout" method="post" id="logout-button">
    Welcome, <%= user.username %>
    <button type="submit" class="btn btn-sm btn-secondary">Logout</button>
  </form>
</h1>

<h4>Users Table</h4>
<% if (typeof error !== 'undefined') { %>
<div
  class="alert alert-<%= error.type %> alert-dismissible fade show"
  role="alert"
>
  <strong><%= error.message %></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
<a href="/users" class="btn btn-primary btn-sm mb-3">New User</a>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      <th scope="col">Fullname</th>
      <th scope="col">Hobbies</th>
      <th scope="col">Alamat</th>
      <th scope="col" width="190px">Action</th>
    </tr>
  </thead>
  <tbody>
    <% if (users.length === 0) { %>
    <tr>
      <td colspan="7" class="text-center">No Data</td>
    </tr>
    <% } else { users.forEach( item => {%>
    <tr>
      <th scope="row"><%= item.id %></th>
      <td><%= item.username %></td>
      <td><%= item.role %></td>
      <td>
        <%= (item.bio.first_name ?? '-') + ' ' +(item.bio.last_name ?? '-') %>
      </td>
      <td><%= item.bio.hobby ?? '-' %></td>
      <td><%= item.bio.address ?? '-' %></td>
      <td>
        <form
          class="delete-form"
          action="/users/<%= item.id %>/?_method=DELETE"
          method="post"
        >
          <input type="hidden" name="username" value="<%= item.username %>" />
          <a href="/users/<%= item.id %>" class="btn btn-info btn-sm">Edit</a>
          <% if (item.role != 'admin') { %>
            <a href="/users/<%= item.id %>/history" class="btn btn-warning btn-sm">History</a>
            <button type="submit" class="btn btn-danger btn-sm btn-inline">
            Delete
          </button>
          <% } %>
        </form>
      </td>
    </tr>
    <%}) } %>
  </tbody>
</table>

<!-- new game -->
<!-- <h3 class="text-center font-weight-bold"">User New Game</h3>
<div class="d-flex justify-content-center">
  <form action="/users/userhistory" method="post" style="width: 60%;">
    <div class="form-group">
      <label for="user_id">User : </label>
      <select class="custom-select custom-select-sm" required name="user_id">
        <option selected disabled value="">Select user...</option>
        <% users.forEach(user => { %>
          <% if (user.role === 'player') { %>
            <option value="<%= user.id %>"><%= user.username%></option>
          <% } %>
        <%})%>
      </select>
    </div>

    <div class="form-group">
      <label for="game_id">Game :</label>
      <select class="custom-select custom-select-sm" required name="game_id">
        <option selected disabled value="">Select game...</option>
        <% games.forEach(game => { %>
          <option value="<%= game.id %>"><%= game.name%></option>
        <%})%>
      </select>
    </div>

    <div class="form-group">
      <label for="score">Score :</label>
      <input type="number" name="score" id="score" min="1" max="100" class="form-control" required placeholder="0">
    </div>

    <button type="submit" class="btn btn-success btn-sm">Submit</button>
  </form>
</div> -->
