<!-- body -->

<h1 class="text-center font-weight-bold ">login page</h1>
<% if (typeof error !== 'undefined') { %>
  <div class="alert alert-<%= error.type %> alert-dismissible fade show" role="alert">
    <strong><%= error.message %></strong> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>
<form action="/login" method="POST">
  <div class="form-group">
    <label for="username">Username :</label>
    <input type="text" name="username" id="username" class="form-control form-control-sm" required value="<%= typeof data !== 'undefined' ? data.username : '' %>">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control form-control-sm" required>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>